.content{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px){
    .content{
      max-width: 768px;

    }
}

@media screen and (max-width: 320px){
    .content{
      max-width: 320px;

    }
}