.footer{
    display: flex;
    align-items: center;
}

.footer__paragraph{
    font-family: "Inter";
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    width: 166px;
    height: 16px;
    margin: 0 auto;
    padding-bottom: 24px;
}

@media screen and (max-width: 768px){
    .footer{
      max-width: 768px;
    }
    .footer__paragraph{
      margin-top: 88px; 
      
    }
}

@media screen and (max-width: 320px){
    .footer{
      max-width: 320px;
    }
    .footer__paragraph{
      line-height: 14px;
      text-align: left;
      height: 14px;
      margin-top: 64px;
    }
}