.intro{
    display: flex;
    flex-direction: column;
}

.intro__title{
    font-family: "Inter";
    color: #FFFFFF;
    font-size: 54px;
    line-height: 1.07;
    font-weight: 900;
    text-align: left;
    max-width: 830px;
    padding-left: 148px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.intro__paragraph__quote{
    font-family: "Inter";
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
    max-width: 738px;
    padding-left: 148px; 
    margin-top: 0px;
    margin-bottom: 10px;
}

.intro__paragraph__quote-2{
    font-family: "Inter";
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    text-align: right;
    max-width: 732px;
    padding-left: 148px;
    margin-top: 0px;
    margin-bottom: 32px;
}

.intro__paragraph__text{
    font-family: "Inter";
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    max-width: 722px;
    padding-left: 148px;
    margin-top:0px;
    margin-bottom: 92px;
}

@media screen and (max-width: 768px){
  .intro{
    max-width: 768px;
  }
  .intro__title{
    font-size: 45px;
    line-height: 1.1;          
    max-width: 707px;
    padding-left: 24px;
    margin-bottom: 50px;
    }
  .intro__paragraph__quote{
      max-width: 720px;
      margin: 0 auto;
      padding: 0px;
      margin-bottom: 26px;
    }
    .intro__paragraph__quote-2{
      max-width: 720px; 
      padding: 0px;
    }
    .intro__paragraph__text{
      width: 720px;
      padding: 0px;
      margin: 0 auto;        
    }
}

@media screen and (max-width: 320px){
    .intro{
      max-width: 320px;
    }
     .intro__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 1.0;
        padding-left: 16px;
        margin-bottom: 40px;
    }
      .intro__paragraph__quote{
        max-width: 288px;
        line-height: 1.1;
        margin-bottom: 10px;  
    }
      .intro__paragraph__quote-2{
        max-width: 288px;
        padding: 0px;
        margin-bottom: 32px;
    }
      .intro__paragraph__text{
        max-width: 288px;
    }
}